/* Colors */
:root {
  --bg-color: white/* #FFFEEB */;
  --main-accent-color: #75E43A;
}

/* Fonts */
@font-face {
  font-family: charter;
  src: url(charter_regular.woff2);
}

@font-face {
  font-family: charter;
  src: url(charter_bold.woff2;
  font-weight: bold;
}

@font-face {
  font-family: charter;
  src: url(charter_italic.woff2);
  font-style: italic;
}

@font-face {
  font-family: charter;
  src: url(charter_bold_italic.woff2);
  font-weight: bold;
  font-style: italic;
}

/* Site-wide */
* {
	font-family: charter;
	background-color: var(--bg-color);
}

body {
	margin: 40px auto;
	max-width: 750px;
	line-height: 1.5;
	font-size: 20px;
	color: #454545;
	padding: 0 10px
}

img {
	height: auto;
	width: 100%;
}

h1, h2, h3 {
	line-height: 1.2;
}

a {
	color: inherit;
	text-decoration: underline;
	text-decoration-color: var(--main-accent-color);
	border: 0;
	box-shadow: none;
}

a:hover {
	color: var(--main-accent-color);
}

.flex-container {
	display: flex;
}

.flex-item {
	margin: 0;
}

hr {
	border: 1px solid black;
	margin: 5% auto;
	width: 60%;
}

hr:last-of-type {
	display: none;
}

/* Header */

#header-container {
	justify-content: space-between;
	opacity: 0.5;
	margin: 48px auto;
	transition: all .25s ease;
}

#header-container:hover {
	opacity: inherit;
}

#header-column {
	flex-flow: column;
	justify-content: center;
}

#header-menu {
	text-align: right;
}

#header-title {
	font-size: 30px;
}
	
#header-title a {
	text-decoration: none;
}